git+https://github.com/PerfectFit-project/niceday_client
# rasa==3.0.5 # NB! when updating, make sure to also update:
            # * rasa base image in actions/Dockerfile,
            # * format of stories, domain.yml etc. if necessary
# spacy