# for database
-r db/requirements.txt

# for onboarding
-r onboarding/requirements.txt

# for Rasa agent
-r Rasa_Bot/requirements.txt

# for rasa-scheduler
-r requirements-scheduler.txt

# for sensor API
-r sensor_api/requirements.txt

requests==2.25.1
pandas_ods_reader==0.0.7
git+https://github.com/PerfectFit-project/pa-algorithms

