python-dateutil==2.8.1
python-dotenv
git+https://github.com/PerfectFit-project/virtual-coach-db
git+https://github.com/PerfectFit-project/pa-algorithms
git+https://github.com/PerfectFit-project/niceday_client
