celery
cryptography
pandas
plotly
kaleido
python-dateutil==2.8.1
python-dotenv
rasa-sdk==3.2.3
redis
sqlalchemy
git+https://github.com/PerfectFit-project/virtual-coach-db@v0.1.25
git+https://github.com/PerfectFit-project/pa-algorithms
git+https://github.com/PerfectFit-project/niceday_client@v0.1.5
git+https://github.com/PerfectFit-project/virtual-coach-rasa@333-configure-step-count-in-dialogs#subdirectory=sensor_api
