celery
Django==4.2.2
python-dotenv
git+https://github.com/PerfectFit-project/virtual-coach-db@main
git+https://github.com/PerfectFit-project/niceday_client@v0.1.4
git+https://github.com/PerfectFit-project/virtual-coach-db/sensor_api
redis
requests