celery
Django==4.2.2
python-dotenv
git+https://github.com/PerfectFit-project/virtual-coach-db@297-complete-dialog-reminder
git+https://github.com/PerfectFit-project/niceday_client@v0.1.4
redis
requests